/* Base Styles */

:root {
    --font-size: 10px;
    --font-family:"Open Sans",Arial,sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}



/*Profile Layout*/
.container{
    display:grid;
    justify-content: center;
    max-width: 100%;
    align-content: center;

}
.profile{
    display: grid;
    place-content: center;
    grid-template-columns: 400px 200px 200px ;
    grid-template-rows:400px 200px 80px;
    
    
}


.profile-image{
    border:rgba(0, 128, 117, 0.856) solid ;
    border-width: 10px;
    border-radius:50%;
     overflow:hidden;
     margin-left: 0%;
     grid-column:1/2;
    grid:3;
    

}
.profile-image img{
    height: 100%;
    width: 100%;
    
}

.profile-user-settings{
   grid-column:2/-1;
   justify-content: space-between;
    grid-row:1;
    display: flex;
    

}

.profile-bio{
    grid-column: 1/-1;
    grid-row: 3;
    display: flex;
    flex-direction: row;
}


.btn{
    height: 20px;
    margin-top: 33px;
    
}

   
.column-profile-stats ul{
    grid-column:2;
    grid-row:2;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}



/*Image Layout*/

.gallery-item{
    position:relative;
    background-color: rgba(0, 0, 0, 0.05);

}
.gallery-image{
    height: 350px;
    transition: 0.5s ease-in;
   



}
.gallery{
    display:grid;
    grid-template-columns: repeat(3,1fr);
     gap:2px;
     width :1200px;
    border-radius: 16px;
    position: relative;/*Fit the overlay on full width and height of image*/

}

img{
    display: grid;
    object-fit: cover;
    width:100%;
    height:350px;
    padding:5px;
    justify-content: center;
    align-content: center;
    display: block; /*Eliminates space at the bottom of the image*/
    position:relative;
}


img:hover{
    background-color: rgba(0, 0, 0, 0.507);
    position:relative;
}


/*Hover Effect*/

.gallery-item:hover .gallery-item-info{
    display: flex;  
}

img{
    display:block;
    

}

 image:hover .gallery-item-info{
    display: flex; 
    background-color: rgba(0, 0, 0, 0.557);
}

.gallery-item-info{
    display:none;
    color:white;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.34);
}







/*.gallery-item-info{
    position:relative;
    top:0;
    left:0;
   /* opacity: 0;
    object-fit: cover;
    background-color:fill;
     color:black;
     display:flex;
     align-items: center;
     justify-content: center;
     }

.gallery-item-info ul{
    list-style-type: none;
    margin:0;
    padding:0;

}
img{
   /* position: relative;
    
}
.gallery-item-likes{
    font-size: 2em;
    font-weight: bold;

}

.gallery-item-comments{
    font-size:2em;
    font-weight:bold;
}